
.navigation__link{
    color: var(--main-font-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover , 
        &:focus {
        color: var(--acent-color)  ;
    }
    }

    .navigation__link-current {
        color: var(--acent-color);

           &::after{
           content: '';
           height: 4px;
           display: block;
           width: 100%;
           background: #2196F3;
           border-radius: 2px;
           position: absolute;
           bottom: 0;
           left: 0;
           }
    }
    
    .contacts__icon-envelope {
    width: 16px;
    height: 12px;
    }

    .contacts__icon{
        margin-right: 10px;
        fill: currentColor;
    }


    .contacts__icon-smartphone{
    width: 10px;
    height: 16px;
    }

    
    

.navigation{
    display: flex;
}
.main-nav{
    display: flex;  
}
.nav{
    display: flex;
    align-items: center;
}
.navigation__item{
margin-right: 50px;
position: relative;
text-align: center;
}

.navigation__item:last-child{
    margin-right: 0;
}

.contacts{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts__item + .contacts__item {
    margin-left: 30px;
}
.contacts__link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
     text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--secondary-font-color);

        &:hover,
        &:focus {
            color: var(--acent-color)
        }
    }
 
.header{
    background: var(--white);
}
