.section-hero{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #C4C4C4;;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,url(../images/header-img-480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;

    @media screen and (min-width: 1200px){
        padding-top: 200px;
        padding-bottom: 200px;
}
}

.hero__title{
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width:360px;
    color: var(--white);
    text-align: center;
    margin: 0px auto 30px auto;

    @media screen and (min-width: 1200px){
            font-size: 44px;
            line-height: 1.36;
            max-width:696px;
    }
}

.overlay {
    max-width: 100%;
   
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-img-480.jpg);
    background-position: center; /* при сужении вьюпорта картинка остаюется по центру*/
    background-size: 480px 400px;
  }
  /* 2x screens, retina, 960x800 image */
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .section-hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-img-960.jpg);
    }
  }
  
  @media screen and (min-width: 768px) {
    .section-hero {
        max-width: 100%;
      
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-img-768.jpg);
      background-position: center; /* при сужении вьюпорта картинка остаюется по центру*/
      background-size: cover;
    }
    /* 2x screens, retina, 1532x800 image */
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        .section-hero{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/header-img-1532.jpg);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .section-hero{
      max-width: 100%;
     
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-img-1600.jpg);
      background-position: center; /* при сужении вьюпорта картинка остаюется по центру*/
      background-size: cover;
    }
    /* 2x screens, retina, 3200x1200 image */
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        .section-hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/header-img-3200.jpg);
      }
    }
  }