.section-team  {
    background: #F5F4FA;
}
.team-cards{
    text-align: center;
    margin-left: -30px;
    margin-bottom: -30px;

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
       
    }

    @media screen and (min-width: 1200px){
       display: flex;
       justify-content: space-around;
       margin-bottom: 0px;
       
}
}

.card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    

    @media screen and (min-width: 768px){
        flex-basis: calc(100%/2 - 30px);
    }

    @media screen and (min-width: 1200px){
        flex-basis: calc(100%/4 - 30px);
        margin-bottom: 0;
 }
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #212121;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}


.card-article{
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondary-font-color);
    text-align: center;
    margin-bottom: 16px;
}

.team-cards > .card > img {
    width: 100%;
}