:root {
    --main-font-color: #000;
    --acent-color: #2196F3;
    --white: #fff;
    --secondary-font-color: #757575;
    --primary-font: 'Roboto', sans-serif;
    --secondry-font: 'Verdana', sans-serif;
}
